<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Usuário</title>
        <link rel="stylesheet" th:href="@{/static.css/style.css}">
    </head>
    <body>

        <h2>Cadastrar Usuário</h2>

        <form th:action="@{/usuarios}" method="post" onsubmit="return validarUsuario()">
            <input type="text" name="nome" placeholder="Nome">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">

            <button type="submit">Salvar</button>
        </form>

        <script th:src="@{/static.js/script.js}"></script>
    </body>
</html>
