<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Empréstimo</title>
        <link rel="stylesheet" th:href="@{/static.css/style.css}">
    </head>
    <body>

        <h2>Empréstimo</h2>

        <form th:action="@{/emprestimos}" method="post" onsubmit="return validarEmprestimo()">
            <input type="number" name="usuario.id" placeholder="ID Usuário">
            <input type="number" name="livro.id" placeholder="ID Livro">
            <input type="date" name="dataEmprestimo">

            <button type="submit">Salvar</button>
        </form>

        <script th:src="@{/static.js/script.js}"></script>
    </body>
</html>
