<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Empréstimo</title>

        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Empréstimo</h1>
                <a th:href="@{/menu}" class="btn">Menu</a>
            </div>

            <div class="form-container">

                <form th:action="@{/emprestimos/salvar}" method="post" onsubmit="return validarEmprestimo()">

                    <input type="hidden" name="id" th:value="${emprestimo.id}">

                    <label>Usuário</label>
                    <select name="usuarioId">
                        <option value="">Selecione</option>
                        <option th:each="u : ${usuarios}"
                                th:value="${u.id}"
                                th:text="${u.nome}">
                        </option>
                    </select>

                    <label>Livro</label>
                    <select name="livroId">
                        <option value="">Selecione</option>
                        <option th:each="l : ${livros}"
                                th:value="${l.id}"
                                th:text="${l.titulo}">
                        </option>
                    </select>

                    <label>Data</label>
                    <input type="date" name="dataEmprestimo">

                    <button class="btn">Salvar</button>

                </form>

            </div>

        </div>

    <script>
    function validarEmprestimo() {

        let usuario = document.querySelector("[name='usuario.id']");
        let livro = document.querySelector("[name='livro.id']");
        let data = document.querySelector("[name='dataEmprestimo']");

        if (!usuario.value || !livro.value) {
            alert("Selecione usuário e livro!");
            return false;
        }

        if (!data.value) {
            alert("Preencha a data!");
            return false;
        }

        return true;
    }
    </script>

    </body>
</html>
