<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Livro</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Cadastrar Livro</h1>
                <a th:href="@{/menu}" class="btn">Menu</a>
            </div>

            <div class="form-container">

                <form th:action="@{/livros}" method="post" id="bookForm" onsubmit="return validarLivro()">

                    <input type="text" id="autor" name="autor" placeholder="Autor">

                    <input type="text" id="titulo" name="titulo" placeholder="Título">

                    <input type="number" id="ano" name="ano" placeholder="Ano">

                    <div class="select-wrapper">
                        <select id="categoria" name="categoria">
                            <option value="">Categoria</option>
                            <option>Ficção</option>
                            <option>Romance</option>
                            <option>Terror</option>
                        </select>
                    </div>

                    <input type="number" id="quantidade" name="quantidade" placeholder="Quantidade">

                    <button class="btn">Cadastrar</button>

                </form>

            </div>

        </div>

        <script>
            function validarLivro() {

                const autor = document.getElementById("autor");
                const titulo = document.getElementById("titulo");
                const ano = document.getElementById("ano");
                const categoria = document.getElementById("categoria");
                const quantidade = document.getElementById("quantidade");

                if (!autor || autor.value.length < 2 || autor.value === "") {
                    alert("Preencha todos os campos corretamente!");
                    return false;
                }

                if (!titulo || titulo.value.length < 2 || titulo.value === "") {
                    alert("Preencha todos os campos corretamente!");
                    return false;
                }

                if (!ano || ano.value < 1800 || ano.value > 2026 || ano.value === "") {
                    alert("Preencha todos os campos corretamente!");
                    return false;
                }

                if (!categoria || !categoria.value) {
                    alert("Preencha todos os campos corretamente!");
                    return false;
                }

                if (!quantidade || quantidade.value <= 0 || quantidade.value === "") {
                    alert("Preencha todos os campos corretamente!");
                    return false;
                }
                return true;
            }
        </script>

    </body>
</html>