<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Empréstimo</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">
            <div class="header">
                <h1>Empréstimo</h1>
                <a th:href="@{/menu}" class="btn">Menu</a>
            </div>

            <div class="form-container">
                <form th:action="@{/emprestimos}" method="post" onsubmit="return validarEmprestimo()">
                    <input id="usuario.id" type="number" name="usuario.id" placeholder="ID Usuário">
                    <input id="livro.id" type="number" name="livro.id" placeholder="ID Livro">
                    <input id="dataEmprestimo" type="date" name="dataEmprestimo">
                    <button class="btn">Salvar</button>
                </form>
            </div>
        </div>

        <script>
            function validarEmprestimo() {
                let usuario = document.getElementById("usuario.id");
                let livro = document.getElementById("livro.id");
                let data = document.getElementById("dataEmprestimo");

                if (!usuario || !livro || usuario.value === "" || livro.value === "") {
                    alert("Preencha usuário e livro!");
                    return false;
                }
                
                if (!data || data.value === ""){
                    alert("Preencha a data!");
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>
