<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Empréstimos</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Empréstimos</h1>
                <div>
                    <a th:href="@{/emprestimos/novo}" class="btn">Novo</a>
                    <a th:href="@{/menu}" class="btn">Menu</a>
                </div>
            </div>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Livro</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>

                <tr th:each="e : ${lista}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.usuario.nome}"></td>
                    <td th:text="${e.livro.titulo}"></td>
                    <td th:text="${e.dataEmprestimo}"></td>

                    <td>
                        <a th:href="@{/emprestimos/editar/{id}(id=${e.id})}" class="btn">Editar</a>
                        <a th:href="@{/emprestimos/excluir/{id}(id=${e.id})}" class="btn btn-danger"
                           onclick="return confirm('Excluir?')">Excluir</a>
                    </td>
                </tr>
            </table>

        </div>

    </body>
</html>
