<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Livros</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">
            <div class="header">
                <h1>Livros</h1>
                <a th:href="@{/menu}" class="btn">Menu</a>
            </div>

            <div class="form-container">
                <table>
                    <tr><th>ID</th><th>Título</th><th>Autor</th></tr>

                    <tr th:each="l : ${lista}">
                        <td th:text="${l.id}"></td>
                        <td th:text="${l.titulo}"></td>
                        <td th:text="${l.autor}"></td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>
