<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Usuários</title>
        <link rel="stylesheet" th:href="@{/static.css/style.css}">
    </head>
    <body>

        <h2>Usuários</h2>

        <table>
            <tr><th>ID</th><th>Nome</th><th>Email</th></tr>

            <tr th:each="u : ${lista}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.nome}"></td>
                <td th:text="${u.email}"></td>
            </tr>

        </table>

    </body>
</html>
