<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Livros</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Livros</h1>
                <a th:href="@{/menu}" class="btn">Menu</a>
            </div>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Disponível</th>
                </tr>

                <tr th:each="l : ${lista}">
                    <td th:text="${l.id}"></td>
                    <td th:text="${l.titulo}"></td>
                    <td th:text="${l.autor}"></td>
                    <td th:text="${l.ano}"></td>
                    <td th:text="${l.categoria}"></td>
                    <td th:text="${l.quantidade}"></td>
                    <td th:text="${l.disponivel ? 'Sim' : 'Não'}"></td>
                </tr>
            </table>

        </div>

    </body>
</html>
