<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Empréstimos</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Empréstimos</h1>
                <a href="/" class="btn">Menu</a>
            </div>

            <div class="form-container">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Livro</th>
                        <th>Data</th>
                    </tr>

                    <tr th:each="e : ${lista}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.usuario.nome}"></td>
                        <td th:text="${e.livro.titulo}"></td>
                        <td th:text="${e.dataEmprestimo}"></td>
                    </tr>

                </table>

            </div>

        </div>

    </body>
</html>
