<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="container">

            <div class="header">
                <h1>Login</h1>
            </div>

            <div class="form-container">
                <form th:action="@{/login}" method="post" onsubmit="return validarLogin()">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <input type="password" id="senha" name="senha" placeholder="Senha">

                    <button class="btn">Entrar</button>
                </form>
            </div>

        </div>

        <script>
            function validarLogin() {
                let email = document.getElementById("email");
                let senha = document.getElementById("senha");

                if (!email || !senha || email.value === "" || senha.value === "") {
                    alert("Preencha todos os campos!");
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>
