<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <div class="login-container">
            <form th:action="@{/login}" method="post" onsubmit="return validarLogin()">
                <h2>Login</h2>

                <input type="text" id="email" name="email" placeholder="Email">
                <input type="password" id="senha" name="senha" placeholder="Senha">

                <button type="submit">Entrar</button>
            </form>

            <p th:if="${erro}" th:text="${erro}"></p>
        </div>

        <script th:src="@{/static.js/script.js}"></script>
    </body>
</html>
