<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
        <link rel="stylesheet" th:href="@{/static.css/style.css}">
    </head>
    <body>

        <div class="menu-container">
            <h1>Menu</h1>

            <a th:href="@{/usuarios/novo}">Cadastrar Usuário</a>
            <a th:href="@{/livros/novo}">Cadastrar Livro</a>
            <a th:href="@{/emprestimos/novo}">Registrar Empréstimo</a>

            <a th:href="@{/usuarios}">Listar Usuários</a>
            <a th:href="@{/livros}">Listar Livros</a>
            <a th:href="@{/emprestimos}">Listar Empréstimos</a>
        </div>

    </body>
</html>
